@{
    ViewBag.Title = "Dashboard";
}

@section scripts {

    <script>
        $().ready(function () {
            $.fn.datepicker.defaults.format = "dd/mm/yyyy";
            $('.input-daterange').datepicker({});
        })


    </script>
}

<h2>Dashboard</h2>

@using (Html.BeginForm("", "Dashboard", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="input-daterange input-group" id="datepicker">
                    <input type="text" class="input-sm form-control" name="start" placeholder="Start" value="@(ViewBag.start)"/>
<span class="input-group-addon">to</span>
                    <input type="text" class="input-sm form-control" name="end" placeholder="End" value="@(ViewBag.end)"/>
                </div>
                <div>
                    <button class="btn btn-primary">Generate</button>
                </div>
            </div>
            <div id="report-container">
                <ul>
                    @foreach (var currentEvent in ViewBag.events)
                    {
                    <li>
                        <b>@currentEvent.Summary</b>
                        <span>@currentEvent.Start.ToString("dd/M/yyyy")</span>
                        <span>@currentEvent.RegisteredUsers.Count</span>
                    </li>
                    }
                    
                </ul>
            </div>
        </div>
    </div>
}