@{
    ViewBag.Title = "Dashboard";
}

@section scripts {

    <script>
        $().ready(function () {
            $.fn.datepicker.defaults.format = "dd/mm/yyyy";
            $('.input-daterange').datepicker({});
        })


    </script>
}

<h2>Dashboard</h2>

@using (Html.BeginForm("", "Dashboard", FormMethod.Post, new { @class = "form-inline" }))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ActionLink("Download report",
       "",
       null,
       new { @id="download-report"})
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="report-controls text-right">
                <div class="form-group">
                    <div class="input-daterange input-group" id="datepicker">
                        <span class="input-group-addon">From</span>
                        <input type="text" class="input-sm form-control" name="start" placeholder="Start" value='@(ViewBag.start.ToString("dd/M/yyyy"))'/>
                        <span class="input-group-addon">to</span>
                        <input type="text" class="input-sm form-control" name="end" placeholder="End" value='@(ViewBag.end.ToString("dd/M/yyyy"))'/>
                    </div>                                      
                </div>

                <div class="form-group">
                    <button class="btn btn-default">
                        Search 
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                </div>
                <div class="form-group">
                    <a href="@Url.Action("DownloadEventsReport", "Dashboard", new { start = ViewBag.start, end = ViewBag.end })"  download class="btn btn-default">
                        Download report
                        <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            
            <div id="report-container">
                <table class="table table-striped">
                    <tr>
                        <th>Event</th>
                        <th>Date and time</th>
                        <th>Enrolled students</th>
                    </tr>
                    @foreach (var currentEvent in ViewBag.events)
                    {
                        <tr>
                            <td><a href="/Dashboard/Event/@currentEvent.Id">@currentEvent.Summary</a></td>
                            <td>@currentEvent.Start.ToString("dd/M/yyyy HH:mm")</td>
                            <td>@currentEvent.RegisteredUsers.Count</td>
                        </tr>

                    }
                </table>
            </div>
        </div>
    </div>
}