@model EECCORP.Models.Event


<h4>Event</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Summary)
    </dt>
    
    <dd>
        @Html.DisplayFor(model => model.Summary)
    </dd>
    
    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
    
    <dt>
        @Html.DisplayNameFor(model => model.Start)
    </dt>
    
    <dd>
        @Html.DisplayFor(model => model.Start)
    </dd>

    <dt>
        Registered students (@Html.Raw(Model.RegisteredUsers.Count))
    </dt>
    
    <dd>
        <ul>
            @foreach (var user in Model.RegisteredUsers)
            {
                <li> 
                    @Html.ActionLink(user.UserName, "Details", "Account", new { id = user.Id }, null)                        
                </li>
            }
        </ul>
    </dd>
    

    

</dl>
    
    