@model EECCORP.Models.ApplicationUser

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />

    <div class="report-controls text-right">        
        <div class="form-group">
            <a href="@Url.Action("DownloadUserReport", "Account", new { id = Model.Id })" download class="btn btn-default">
                Download report
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
            </a>
        </div>
    </div>

    <dl class="dl-horizontal">

        <dt>            
           <img src="@Url.Content(Model.ImageUrl)" alt="Image" />            
        </dt>

        <dd>
            
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEligible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEligible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>Registered courses (@Html.Raw(Model.Events.Count))</dt>
        
        <dd>
            <ul>
                @foreach( EECCORP.Models.Event currentEvent in Model.Events)
                {
                    <li>
                        <span>
                            @Html.ActionLink(currentEvent.Summary, "Event", "Dashboard", new { id = currentEvent.Id }, null)
                        </span>
                        <span>@Html.Raw(currentEvent.Start)</span>
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
