@model EECCORP.Models.ApplicationUser

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsEligible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEligible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>Registered courses (@Html.Raw(Model.Events.Count))</dt>
        
        <dd>
            <ul>
                @foreach( EECCORP.Models.Event currentEvent in Model.Events)
                {
                    <li>
                        @Html.ActionLink(currentEvent.Summary, "Event", "Dashboard", new { id = currentEvent.Id }, null)                     
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
