@model EECCORP.Models.IsEligibleViewModel

@{
    ViewBag.Title = "Eligibility";
}

<h2>Eligibility</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Are you eligible ?</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <div class="controls">

                    <div class="form-check">
                        <label class="form-check-label">                            
                            @Html.EditorFor(model => model.IsFoAStudent, new { htmlAttributes = new { @class = "form-control-check-input" } })
                            @Model.IsFoAStudentQuestion
                        </label>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">                            
                            @Html.EditorFor(model => model.IsEnrolled, new { htmlAttributes = new { @class = "form-check-input" } })
                            @Model.IsEnrolledQuestion
                        </label>
                    </div>
                </div>


                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}